<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Change Password</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="changeForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Old Password </mat-label>
                <input matInput formControlName="oldPassword" required type="password" [type] = "oldpassword ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="oldpassword= !oldpassword" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]>
                    <mat-icon>{{ oldpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf ="changeForm.controls.oldPassword.touched && changeForm.controls.oldPassword.invalid">
                    <span *ngIf ="changeForm.controls.oldPassword.errors.required"> This field is Mandatory</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" required type="password" [type] = "newpassword ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="newpassword = !newpassword" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]>
                    <mat-icon>{{ newpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf ="changeForm.controls.newPassword.touched && changeForm.controls.newPassword.invalid">
                    <span *ngIf ="changeForm.controls.newPassword.errors.required"> This field is Mandatory</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" required type="password" [type] = "confirmpassword ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="confirmpassword = !confirmpassword" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]>
                    <mat-icon>{{ confirmpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf ="changeForm.controls.confirmPassword.touched && changeForm.controls.confirmPassword.invalid">
                    <span *ngIf ="changeForm.controls.confirmPassword.errors.required"> This field is Mandatory</span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !(changeForm.controls.confirmPassword.invalid)">
                    <span>Password and Confirm Password does not match.</span>
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content> 

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" [disabled]="validateSubmit() || !(changeForm.dirty && changeForm.valid)" (click)="handleSubmit()">
        <mat-icon>save</mat-icon> Update
    </button>
    <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions>


