<mat-toolbar color="primary">
    <span>
        <a mat-icon-button routerLink="/">Student Application</a>
    </span>
    <span class="example-spacer"></span>
    <!-- <a *ngIf="!isLogged" style="padding-right: 100px" (click) = "signupAction()"> SignUp </a> -->
    <!-- <a *ngIf="isLogged" style="padding-right: 100px" routerLink="/logout" (click)="logout()"> logout </a> -->

    <p mat-icon-button #menuTrigger="matMenuTrigger" *ngIf="!isLogged" (mouseover)="openMyMenu(menuTrigger)" [matMenuTriggerFor]="myMenubefore"
        style="padding-right: 100px;padding-top: 25px"> Actions </p>

    <mat-menu #myMenubefore="matMenu">
        <ng-template matMenuContent>
            <div >
                <a  (click)="signupAction()" mat-menu-item> SignUp </a>
                <a  (click)="forgotPasswordAction()" mat-menu-item> Forgot Password </a>
            </div>
        </ng-template>
    </mat-menu>

    <p mat-icon-button #menuTrigger="matMenuTrigger" *ngIf="isLogged" (mouseover)="openMyMenu(menuTrigger)" [matMenuTriggerFor]="myMenuafter"
        style="padding-right: 100px;padding-top: 25px"> <mat-icon>account_circle</mat-icon></p>

    <mat-menu #myMenuafter="matMenu">
        <ng-template matMenuContent>
            <div>
                <button (click)="changePasswordAction()" mat-menu-item><mat-icon>password</mat-icon> Change Password </button>
                <button (click)="logout()" mat-menu-item><mat-icon>exit_to_app</mat-icon> logout </button>
            </div>
        </ng-template>
    </mat-menu>




</mat-toolbar>